

.navigationTop a {

    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 30pt;
    padding-left: 20pt;

}

h1 {

    font-size: 35pt;
    padding-left: 10pt;

}  

#endergebnis {

    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 30pt;
    padding-left: 20pt;

}

a:hover {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
}

#wrapper {

    height: 500px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

div div {

    background-color: aqua;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;

}