* {
    
    padding: 0;
    margin: 0; 
    box-sizing: border-box;

}

body {

    height: 100vh;
    background: darkorchid;

}

.gameCards {

    position: relative;
    border: 2px, solid, aqua;

}

.gameCards:active {

    transform: scale(.90);
    
}

.memeory {

    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;

}

.cardBack {

    position: absolute;
    width: 100%;
    height: 100%;
    padding:25px;

}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  
body {

    height: 100vh;
    display: flex;
    background: darkgray;

}
  
.memeory {

    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
  
.gameCards {

    width: calc(25% - 10px);
    height: calc(18.75 - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .4s;

}

.gameCards:active {

    transform: scale(0.95);
    transition: transform .1s;

}

.cardBack {


}

.cardFront {

    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;

}

.gameCards.flipped {

    transform: rotateY(180deg);

}

p {

    font-size: 25px;

}

#finishText {

    margin-top: 50%;

}