* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  
body {

    height: 100vh;
    background: rgb(35, 35, 35); 

}
  
.memeory {

    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.gameCards {

    width: calc(25% - 10px);
    height: calc(18.75 - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .4s;

}

.gameCards:active {

    transform: scale(0.95);
    transition: transform .1s;

}

.cardBack {

    position: absolute;
    width: 100%;
    height: 100%;
    padding:25px;

}

.cardFront {

    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;

}

.gameCards.flipped {

    transform: rotateY(180deg);

}

h1, h2 {

    font-size:30pt;
    text-align: center;
    margin-top: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;

}

p {

    font-size: 25pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:lightgray;

}

form {

    text-align: center;
    color: lightgray;
    font-size: 25pt;
    margin-top: 125pt;

}

button {

    margin: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    font-size: 25pt;

    background: aqua;
    color:rgb(15, 15, 15);
    border-radius: 25pt;
    border: none;
    transition: 0.3s;

}

button:hover{

    background: rgb(0, 211, 211);
    color:rgb(15, 15, 15);
    border-radius: 25pt;
    transition: 0.3s;

}

button:active {

    background: rgb(0, 87, 87);
    color:rgb(15, 15, 15);
    border-radius: 25pt;
    color: lightgray;

}

#nameInputID {

    margin: 10pt;
    margin-bottom: 50pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-radius: 25pt;
    border: none;
    background: lightgray;
    font-size: 25pt;

}

label {

    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    color:rgb(15, 15, 15);
    font-size: 25pt;
    background: lightgray;
    border-radius: 25pt;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

div {

    color: white;

}

#adminPwInput {

    margin: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-radius: 25pt;
    border: none;
    background: lightgray;
    font-size: 25pt;

}

.radio {

    margin-top: 17pt;
    margin-bottom: 17pt;

    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 8px #fff;
    border: 0.5px solid gray;

}

footer {

    position: sticky;
    margin-top: 6%;
    text-align: center;

}