button {

    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;

}

#nameInput {

    border: none;
    background: lightgray;
    padding: 12px;
    width: 310px;
    margin-top: 10pt;

}

#passwordInput {

    border: none;
    background: lightgray;
    padding: 12px;
    width: 310px;
    margin-top: 10pt;

}

textarea {

    border: none;
    background: lightgray;
    padding: 12px;
    width: 310px;
    margin-top: 10pt;
    padding-bottom: 100px;

}