
h1 {
    color:black;
    font-size: 40pt;
    text-align: center;
    padding-top: 75pt;
}

header {
    background-color: rgb(44, 44, 44);
    position: fixed;
    top: 0;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 10pt;
}

html{
    background-image: url(../Aufgabe1.3/Dateien/bg.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
body {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 00px 20px;
    font-size: 20pt;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.2);
    
}

footer {
    background-color:rgb(44, 44, 44);
    color: white;
    font-size: 15pt;
    text-align: center;
    padding-bottom: 10pt;
}

header a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

header a:visited  {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

header a:active {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
  }  

header a:hover  {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
  }

a:visited  {
    color: black;
    background-color: transparent;
    
  } 

a:link {
    color: black;
    background-color: transparent;
    
}  

.cssheader a {
    font-size: 20pt;
    padding-left: 15pt;

}

.cssheader a {
    text-align: right;
}

header div nav img {
    padding-top: 20pt;
    margin-right: 38%;
}

.ueberschrift {
    font-size: 20pt;
    margin-bottom: 10pt;
}

#artikel1 {
    text-align: center;
    color: white;
    padding: 50pt 20pt 50pt 20pt;
    background-color: rgba(44, 44, 44);
    border-radius: 10pt;
    margin-top: 20pt;
}

video {
    display: block;
    margin: 0 auto;
    border-radius: 10pt;
    max-width: 100%;
}

audio {
    display: block;
    margin: 0 auto;
    border-radius: 10pt;
}

.imgbd {
    border-radius: 10pt;
}

#uber {
    color:aqua;
}

#kon {
    color:aqua;
}

#link1 {
    color:aqua;
}

.instagram {
    color: white;
    font-size: 15pt;
    background-color: rgb(241, 66, 101);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-right: 5pt;
    border: solid 3px rgb(241, 66, 101);
    border-radius: 5pt;
}

.deviantart {
    color:white;
    font-size: 15pt;
    background-color: rgb(1, 229, 155);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: 5pt;
    border: solid 3px rgb(1, 229, 155);;
    border-radius: 5pt;
}

button {
    margin-bottom: 20pt;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

ul {
    text-align: middle;
    margin-left: auto;
}

table {
    text-align: center;
    margin-left: 200px;
}

#schule {
    list-style-type: decimal; 
}

details {
    text-align: center;
    color: white;
    padding: 10pt 00pt 10pt 00pt;
    background-color: rgba(44, 44, 44);
    border-radius: 10pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

#txt {
    border: none;
    background: lightgray;
    padding: 12px;
    width: 310px;
    margin-top: 10pt;
    padding-bottom: 100px;
}

.inpt {
    border: none;
    background: lightgray;
    padding: 12px;
}

#bts {
    width: 334px;
    background: lightgray;
    border: none;
    padding: 12px;
    margin-top: 10pt;
    font-size: 12pt;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5pt;
    justify-content: space-evenly;
   
}

.imgbd {
    margin: 5pt;
}

label {
    margin-right: 5%;
    text-align: right;
    color: lightgray;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

iframe {
    max-width: 90%;
}

section > p {
    margin-left: 5%;
    margin-right: 5%;
}

#RGB {
    font-size: 25pt;
}

#RGB:hover {
    font-size: 40pt;
    font-weight: bolder;
    animation: cycle  1s linear infinite;
}

@keyframes cycle {
    0% {text-shadow: 0px 0px 50px rgba(11, 124, 199, 0.95);}
    20% {text-shadow: 0px 0px 50px rgba(168, 11, 199, 0.95);}
    40% {text-shadow: 0px 0px 50px rgba(11, 199, 96, 0.95);}
    60% {text-shadow: 0px 0px 50px rgba(199, 11, 11, 0.95);}
    80% {text-shadow: 0px 0px 50px rgba(199, 96, 11, 0.95);}
}

@media screen and (min-width:  1025px){ 

    .imgbd {
        max-width: 100%;
    }

}

@media screen and (max-width: 1024px){

    h1 {
        font-size: 25pt;
        padding-top: 100pt;
    }

    .ueberschrift {
        font-size: 18pt;
    }

    header {
        width: 90%
    }

    body {
        width: 90%;
    }

    img {
        max-width: 80%;
        
        }

    video {
        max-width: 90%;
    }

    p {
        font-size: 14pt;
    }

    .ccssheader {
        font-size: 18pt;
    }

    .cssheader img {
        padding-top: 10;
        margin-right: 15%;
        height: 55px;
        margin-left: 0%;
    }
}


@media screen and (max-width: 600px){

    h1 {
        font-size: 22pt;
        padding-top: 60pt;
    }

    .ueberschrift {
        font-size: 18pt;
    }

    header {
        width: 100%
    }

    body {
        width: 100%;
        padding: 0;
    }

    img {
        max-width: 90%;
    }

    video {
        max-width: 90%;
    }

    p {
        font-size: 14pt;
    }

    #artikel1 {
        font-size: 14pt;
        margin-right: 20px;
        margin-left: 20px;
    }

    .cssheader {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .cssheader {
        text-align: center;
        width: 100%;
    }
    
    .cssheader a {
        display: block;
        border: 1px solid lightgray;
        padding-right: 5%;
    }

    #toggle:checked + .cssheader {
        display: block;
    }

    .cssheader img {
        display: none;
    }
    
    button ~ input {
        width: 40%;
        background: lightgray;
        border: none;
        padding: 12px;
        margin-top: 10pt;
        font-size: 12pt;
        font-weight: bold;
    }

    #txt {
        max-width: 90%;
    }

    div + #bts {
        max-width: 97%;
    }

    div > ul > li {
        max-width: 90%;
        font-size: 18pt;
    }

    #RGB {
        font-size: 40pt;
        font-weight: bolder;
        animation: cycle  2s linear infinite;
        }

    #hov {
        display: none;
    }    
}

@media print {
    #uber {
        color:black;
    }
    
    #kon {
        color:black;
    }
    
    #link1 {
        color:black;
    }
}